<form action='/items/new' method='post'>
  <input type="text" placeholder="Title" name="title">
  <input type="text" placeholder="Description" name="description">
  <input type="hidden" value="<%= session[:user_id] %>" name="user_id">
  <input type="submit" value="Make a new item">
</form>

