<form method='post' action='/register'>
  <input type="text" placeholder="Email" name="email">
  <input type="password" placeholder= "Password" name="password">
  <input type="text" placeholder="begin" name="auction_">
  <input type="text" placeholder="Email" name="email">
  <input type="submit" value="Sign up">
</form>
